<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>If you're here you need lots and lots and lots and lots of help.</p>
            <p>Here's a picture of a cute kitty to make you feel better.</p>
            <img class="portrait" src="/img/another_cute_kitty.jpg">
        </div>
        {{>footer}}
    </body>
</html>