<!DOCTYPE html>

<html>
    <head>
        <title>Hot Momma!</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Ixchel's puppies FTW!!</p>
            <img class="portrait" src="/img/adorbs.jpg">
            <img class="portrait" src="/img/cup_pup.jpg">
            <img class="portrait" src="/img/flying_pupper.jpg">
            <img class="portrait" src="/img/my_goodness.jpg">
            <img class="portrait" src="/img/weee.jpg">
        </div>
        {{>footer}}
        <script src="js/app.js"></script>

    </body>
</html>