<!DOCTYPE html>

<html>
    <head>
        <title>Sayre is not that formal</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Sayre's cuties FTW!!</p>
            <img class="portrait" src="/img/flying.gif">
            <img class="portrait" src="/img/tenor_1.gif">
            <img class="portrait" src="/img/tenor.gif">
            <img class="portrait" src="/img/fist_pump_orange.gif"
        </div>
        {{>footer}}
        <script src="js/app.js"></script>

    </body>
</html>