<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a href="/ixchel/babemomma">Ixchel's puppers</a>
    <a href="/sayre/cutegifs">Sayre's cuties!</a>
</header>